{% extends "company/user/base.html" %}
{% load i18n static rest_framework %}

{% block body_class %}login-page{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            {% block login_errors %}
                {% if serializer.errors and not serializer.non_field_errors %}
                    <p class="alert alert-danger">
                        {% if serializer.errors.items|length == 1 %}
                            {% trans "Please correct the error below." %}{% else %}
                            {% trans "Please correct the errors below." %}{% endif %}
                    </p>
                {% endif %}
                {% if old_password %}
                    <p class="alert alert-danger">
                            {{ old_password }}
                    </p>
                {% endif %}

                {% if serializer.non_field_errors %}
                    {% for error in serializer.non_field_errors %}
                        <p class="alert alert-danger">
                            {{ error }}
                        </p>
                    {% endfor %}
                {% endif %}
            {% endblock login_errors %}

            {% block login_form %}
                <form action="" method="POST">

                    {% csrf_token %}
                    <div class="row employee_form">
                        <div class="col-sm-6 employee">
                            <label class="employee_label">
                                <h3 class="employee_text">{% trans 'Changed Password' %}</h3>
                            </label>
                            {% render_form serializer %}
                        </div>
                    </div>

                    <div class="row padding-25">
                        <a href="{% url 'url_employee_home' %}" class="btn btn-default" type="submit">
                            {% trans "Cancel" %}
                        </a>
                        <button type="submit" class="btn btn-success pull-right"
                                value="Add Employee">{% trans "Changed Password" %}
                        </button>
                    </div>

                </form>
            {% endblock login_form %}
        </div>
    </div>

{% endblock %}
