{% extends 'company/user/home.html' %}
{% load i18n static rest_framework %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        {% trans "Project List" %}
                    </h3>
                    <div class="pull-right" style="display: inline-flex;">
                        <form class="form-inline" method="GET" action="">
                            <div class="form-group">
                                <label class="sr-only" for="name"></label>
                                <select name="name" class="form-control select2" id="name">
                                    <option value="">Select an Project</option>
                                    {% for project in project_list %}
                                        <option value="{{ project.name }}">{{ project.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <button value="submit" type="submit" class="btn btn-success">submit</button>
                        </form>
                    </div>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        {% if projects %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered table-hover table-striped dataTable" role="grid">
                                        <thead>
                                        <tr role="row">
                                            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1"
                                                colspan="1" aria-label="Browser: activate to sort column ascending"
                                                style="width: 342px;">{% trans "Projects" %}
                                            </th>
                                            <th class="sorting text-center" tabindex="0" aria-controls="example1"
                                                rowspan="1"
                                                colspan="1" aria-label="Platform(s): activate to sort column ascending"
                                                style="width: 306px;">{% trans "Action" %}
                                            </th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for project in projects %}
                                            <tr role="row" class="{% cycle 'odd' 'even' %}">
                                                <td>{{ project.name }}</td>
                                                <td class="text-center">
                                                    <button class="btn btn-success btn-xs create-modal"
                                                            value="{{ project.id }}">Report
                                                    </button>
                                                    <a href="{% url 'url_employee_report_list' project_pk=project.id %}"
                                                       class="btn btn-info btn-xs">Report Details
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                {% include 'commons/pagination.html' %}
                            </div>
                        {% else %}
                            <div class="no-record-found">
                                <i class="fa fa-list fa-5x" aria-hidden="true"></i>
                                <p class="lead">
                                    {% trans "No Project record found" %}
                                </p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="add-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    {% include 'company/user/report/report_add.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block extra_js %}

    <script>
        $(document).ready(function () {
            var today = new Date().toJSON().slice(0, 10);
            $('input[name="date"]').val(today);
        });
        var id;
        $(".create-modal").click(function () {
            id = $(this).val();
            var Url = Base_url() + '/report/' + id + '/add/';
            $.ajax({
                url: Url,
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    $("#add-modal").modal("show");
                }
            });
        });

        $("#add-modal").on("submit", "#report-form", function (e) {
            var form = $(this);
            var Data = form.serializeArray();
            var Url = Base_url()  + '/report/' + id + '/add/';
            $.ajax({
                url: Url,
                data: Data,
                type: form.attr("method"),
                dataType: 'json',
                success: function (data) {
                    $("#add-modal").modal("hide");
                    location.reload();
                },
                error: function (data) {
                    $("#add-modal").modal("show");
                    $("#add-modal .modal-body").html(data.responseJSON.html_form);
                }
            });
            return false;
        });
    </script>
{% endblock extra_js %}


